body{
    font-family:-apple-system,BlinkMacSystemFont,sans-serif;
    background:#f2f2f7;
    padding:20px;
    text-align:center;
}
.input-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:8px;
    margin:40px auto;
    flex-wrap:nowrap;
    width:100%;
}
.input-row input{
    width:65px;
    height:65px;
    font-size:42px;
    font-weight:bold;
    text-align:center;
    border:2px solid #007AFF;
    border-radius:12px;
    box-sizing:border-box;
}
input[maxlength="1"]{
    width:66px;
    height:66px;
    margin:3px;
    font-size:22px;
    font-weight:bold;
    text-align:center;
    border:2px solid #007AFF;
    border-radius:12px;
    box-sizing:border-box;
}

button{
    display:block;
    width:100%;
    margin-top:20px;
    height:55px;
    font-size:22px;
    border:none;
    border-radius:15px;
    background:#007AFF;
    color:white;
}

table{
    margin:20px auto;
    border-collapse:collapse;
}

td{
    width:65px;
    height:65px;
    border:1px solid #ccc;
    font-size:36px;
    font-weight:bold;
}

@media (max-width:480px){

.input-row input{
        width:18vw;
        height:18vw;
        font-size:38px;
    }

}
