body{
    font-family:-apple-system,BlinkMacSystemFont,sans-serif;
    background:#f2f2f7;
    padding:20px;
    text-align:center;
}
.input-row{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:4px;
    padding:0 8px;
    box-sizing:border-box;
    flex-wrap:nowrap;
    width:100%;
}
.input-row input{
    min-width:0px;
    height:65px;
    font-size:65px;
    font-weight:bold;
    text-align:center;
    border:2px solid #007AFF;
    border-radius:12px;
    box-sizing:border-box;
}
input[maxlength="1"]{
    width:calc((100vw - 90px) / 4);
    max-width:66px;
    min-width:52px;
    height:calc((100vw - 90px) / 4);
    max-height:66px;
    min-height:52px;
    margin:3px;
    font-size:22px;
    font-weight:bold;
    text-align:center;
    border:2px solid #007AFF;
    border-radius:12px;
    box-sizing:border-box;
}

button{
    display:block;
    width:100%;
    margin-top:20px;
    height:55px;
    font-size:22px;
    border:none;
    border-radius:15px;
    background:#007AFF;
    color:white;
}

table{
    margin:20px auto;
    border-collapse:collapse;
}

td{
    width:65px;
    height:65px;
    border:1px solid #ccc;
    font-size:36px;
    font-weight:bold;
}

@media (max-width:480px){
    .input-row{
        gap:4px;
        padding:0 4px;
    }

    .input-row input{
        font-size:34px;
    }

}
  
